<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="nlog-internal.log">

  <targets>
    <target xsi:type="Database"
                name="dbTarget"
                dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
                connectionString="Server=ECOMZ-D-AH-L;Database=TaskManagement.db;User ID=sa;Password=p@ssw0rd;TrustServerCertificate=True"
                commandText="INSERT INTO [dbo].[Logs](Date,Level,RequestPath,RequestQueryString,Source,Message,StackTrace,InnerExceptionMessage,InnerExceptionStackTrace)
                             VALUES (@Date,@Level,@RequestPath,@RequestQueryString,@Source,@Message,@StackTrace,@InnerExceptionMessage,@InnerExceptionStackTrace)">

                <parameter name="@Date" layout="${longdate}" />
                <parameter name="@Level" layout="${level:uppercase=true}" />
                <parameter name="@RequestPath" layout="${scopeproperty:item=RequestPath}" />
                <parameter name="@RequestQueryString" layout="${scopeproperty:item=RequestQueryString}" />
                <parameter name="@Source" layout="${scopeproperty:item=Source}" />
                <parameter name="@Message" layout="${message}" />
                <parameter name="@StackTrace" layout="${scopeproperty:item=StackTrace}" />
                <parameter name="@InnerExceptionMessage" layout="${scopeproperty:item=InnerExceptionMessage}" />
                <parameter name="@InnerExceptionStackTrace" layout="${scopeproperty:item=InnerExceptionStackTrace}" />
     </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="dbTarget" />
  </rules>

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Database" />
  </extensions>
  
</nlog>